<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/stub.css"  rel="stylesheet" />
</head>
<body>
    <h1>Template without model sample</h1>

    <span class="hide">WebSettings.UserStyleSheet not defined!</span><br />

    <img src="https://butt.holdings/hold-onto-your-butts.gif" />    
</body>
</html>